form {
    display: flex;
    flex-direction: column;
    
    .mat-form-field {
        width: 100%;
        font-size: 12px !important;

        textarea {
            height: 60px;
            resize: none;
        }

        .barcode-textarea {
            height: 27px;
        }
    }
}  

@media screen and (min-width: 1000px) {
    
    form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    } 

}