<form [formGroup]="formBuilder" *ngIf=" (formFieldsService.formFields$ | async) as formFields ">

  <ng-container *ngFor="let field of formFields">
    
    <!-- input, type === text -->
    <mat-form-field *ngIf=" field.ControlTypeCode === 110 && field.isVisible " [ngClass]="{'form-field-disabled': !field.isEnable === true }">
  
      <mat-label *ngIf=" field.isRequired; else NotRequierd " >
        {{ field.Caption }}
        <span>&#42;</span>
      </mat-label>
          
      <ng-template #NotRequierd>
          <mat-label>
            {{ field.Caption }}
          </mat-label>
      </ng-template>
  
      <input matInput [formControlName]=" field.FieldID | convertToString " mapFieldAutocomplete>
  
    </mat-form-field>
    
    <!-- barcode -->
    <mat-form-field *ngIf=" field.ControlTypeCode === 112 && field.isVisible " [ngClass]="{'form-field-disabled': !field.isEnable === true }">
  
      <mat-label *ngIf=" field.isRequired; else NotRequierd " >
        {{ field.Caption }}
        <span>&#42;</span>
      </mat-label>
          
      <ng-template #NotRequierd>
          <mat-label>
            {{ field.Caption }}
          </mat-label>
      </ng-template>
           
      <input matInput 
             mapFieldAutocomplete 
             [formControlName]=" field.FieldID | convertToString " 
             (input)="barcodeReaderAutoHandler($event)"
             (keypress)="barcodeReaderManualHandler($event)">
          
    </mat-form-field>

    <!-- textarea -->
    <mat-form-field *ngIf=" field.ControlTypeCode === 111 && field.isVisible " [ngClass]="{'form-field-disabled': !field.isEnable === true }">
      <mat-label>{{ field.Caption }}</mat-label>
      <textarea matInput [formControlName]=" field.FieldID | convertToString " mapFieldAutocomplete></textarea>
    </mat-form-field>

  </ng-container>

</form>



  <!-- <mat-form-field>

        <mat-label>انبار</mat-label>

        <input matInput mapFieldAutocomplete formControlName="warehouse" [mapFieldFocus]="0">

        <mat-select disableOptionCentering formControlName="warehouse" (selectionChange)="selectionChangeHandler($event)">

          <mat-option *ngFor="let item of dataInput.warehouseList" [value]="item.PK_WarehouseCode">
                      {{ item.Warehouse }}
          </mat-option>

        </mat-select>

        <mat-error *ngIf=" formBuilder.get('warehouse').hasError('required') ">{{ formFieldErrorMsg }}</mat-error>

  </mat-form-field> -->