form {
    display: flex;
    flex-direction: column;
    
    .mat-form-field {
        width: 100%;
        font-size: 12px !important;

        textarea {
            height: 60px;
            resize: none;
        }
    }
}  