<form [formGroup]="formBuilder" *ngIf=" (formFieldsService.formFields$ | async) as formFields ">

  <ng-container *ngFor="let field of formFields">
    
    <!-- input, type === text -->
    <mat-form-field *ngIf=" field.ControlTypeCode === 110 && field.isVisible " [ngClass]="{'form-field-disabled': !field.isEnable === true }">
  
      <mat-label *ngIf=" field.isRequired; else NotRequierd " >
        {{ field.Caption }}
        <span>&#42;</span>
      </mat-label>
          
      <ng-template #NotRequierd>
          <mat-label>
            {{ field.Caption }}
          </mat-label>
      </ng-template>
  
      <input matInput [formControlName]=" field.FieldID | convertToString " mapFieldAutocomplete>

      <mat-error *ngIf=" assessFieldErrorStatus(field.FieldID) ">
        {{ extractFieldErrorMessage(field.FieldID) }}
      </mat-error>
  
    </mat-form-field>
    
    <!-- barcode -->
    <mat-form-field *ngIf=" field.ControlTypeCode === 112 && field.isVisible " [ngClass]="{'form-field-disabled': !field.isEnable === true }">
  
      <mat-label *ngIf=" field.isRequired; else NotRequierd " >
        {{ field.Caption }}
        <span>&#42;</span>
      </mat-label>
          
      <ng-template #NotRequierd>
          <mat-label>
            {{ field.Caption }}
          </mat-label>
      </ng-template>
           
      <input matInput 
             mapFieldAutocomplete 
             [formControlName]=" field.FieldID | convertToString " 
             (input)="barcodeReaderAutoHandler($event)"
             (keypress)="barcodeReaderManualHandler($event)">

      <mat-error *ngIf=" assessFieldErrorStatus(field.FieldID) ">
        {{ extractFieldErrorMessage(field.FieldID) }}
      </mat-error>       
          
    </mat-form-field>

    <!-- textarea -->
    <mat-form-field *ngIf=" field.ControlTypeCode === 111 && field.isVisible " [ngClass]="{'form-field-disabled': !field.isEnable === true }">
      <mat-label>{{ field.Caption }}</mat-label>
      <textarea matInput [formControlName]=" field.FieldID | convertToString " mapFieldAutocomplete></textarea>
    </mat-form-field>

    <!-- single select -->
    <mat-form-field *ngIf=" field.ControlTypeCode === 210 && field.isVisible " [ngClass]="{'form-field-disabled': !field.isEnable === true }">

      <mat-label *ngIf=" field.isRequired; else NotRequierd " >
        {{ field.Caption }}
        <span>&#42;</span>
      </mat-label>
          
      <ng-template #NotRequierd>
          <mat-label>
            {{ field.Caption }}
          </mat-label>
      </ng-template>

      <mat-select disableOptionCentering 
                  [formControlName]=" field.FieldID | convertToString " 
                  (selectionChange)="selectionChangeHandler($event)">

        <mat-option *ngFor="let item of field.LookupValue" [value]="item.LookupValue">
                    {{ item.LookupText }}
        </mat-option>

      </mat-select>

      <mat-error *ngIf=" assessFieldErrorStatus(field.FieldID) ">
        {{ extractFieldErrorMessage(field.FieldID) }}
      </mat-error>

    </mat-form-field>

  </ng-container>

</form>