<!-- Accordion Template  -->
<ng-template #accordionTemplate>
  <main>
    
    <mat-accordion>

        <mat-expansion-panel *ngFor="let barcode of barcodeInfoList" (opened)="panelOpenState = true" (closed)="panelOpenState = false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ barcode.Barcode }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="barcode-info-container" *ngFor="let detail of barcode.Detail">

            <div class="barcode-info-caption">
                <span>{{ detail.Caption }}</span>
            </div>
            <div class="barcode-info-description">
                <span>{{ detail.Value }}</span>
            </div>

          </div>

        </mat-expansion-panel>
    
    </mat-accordion>

  </main>
</ng-template>
<!-- End Of Accordion Template  -->

<!-- Async Template -->
<ng-template #asyncTemplate>
  
  <header>
    <span>مشخصات بارکدهای خوانده شده</span>
  </header>  

  <ng-container *ngTemplateOutlet="accordionTemplate"></ng-container>

</ng-template>
<!-- End of Async Template -->

<!-- Sync Template -->
<ng-template #syncTemplate>
  
  <ng-container *ngTemplateOutlet="accordionTemplate"></ng-container>

</ng-template>
<!-- End Of Sync Template -->

<!-- Rendering -->
<div class="barcode-info-list-viewer">

  <ng-container *ngIf=" (barcodeInfoListService.barcodeInfoList$ | async) as barcodeInfoList ">

    <ng-container *ngTemplateOutlet="asyncTemplate"></ng-container>

  </ng-container>

  <ng-container *ngIf=" barcodeInfoList ">

    <ng-container *ngTemplateOutlet="syncTemplate"></ng-container>

  </ng-container>

</div>


