<div class="dashboard-container">

    <header></header>

    <main>

        <div class="user-info"></div>

        <div class="operations-conatiner" [mapDesignView]="18">

            <section class="card" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
                <img src="../../../assets/images/mabaniPardazLogo.jpg" alt="logo-operation">
                <span class="operation-text">انبارگردانی</span>
            </section>

        </div>

    </main>

    <footer></footer>

</div>
