<ng-container *ngIf=" pageInfo ">

    <div class="dashboard-container" [dir]=" pageInfo.Direction ">

        <!-- header-container -->
        <div class="header-container">

            <header></header>

        </div>

        <!-- main-container -->
        <div class="main-container">

            <main>
    
                <div class="user-info">
        
                    <article>{{ userFullname }}</article>
        
                    <span>{{ userPosition }}</span>
        
                </div>
        
                <map-overlay-preloader></map-overlay-preloader>

                <ng-container *ngIf=" (PWAItems$ | async) as PWAItems">

                    <div class="operations-conatiner" [mapDesignView]=" PWAItems.length " (click)="executeOperationHandler($event)">
        
                        <section class="card" *ngFor="let item of PWAItems" [id]=" item.ObjectID " [attr.taskTypeCode]=" item.TaskTypeCode ">
                            <img src="../../../assets/images/mabaniPardazLogo.jpg" alt="logo-operation">
                            <span class="operation-text">{{ item.Caption }}</span>
                        </section>
            
                    </div>

                </ng-container>

            </main>

        </div>

        <!-- footer-container -->
        <div class="footer-container">

            <map-footer></map-footer>

        </div>

    </div>

</ng-container>

