<ng-container *ngIf=" systemInfo ">

    <div class="dashboard-container" [dir]=" systemInfo.Direction ">

        <!-- header-container -->
        <div class="header-container">

            <header></header>

        </div>

        <!-- main-container -->
        <div class="main-container">

            <main>
    
                <div class="user-info">
        
                    <article>{{ userFullname }}</article>
        
                    <span>{{ userPosition }}</span>
        
                </div>
        
                <div class="operations-conatiner" [mapDesignView]="18">
        
                    <section class="card" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
                        <img src="../../../assets/images/mabaniPardazLogo.jpg" alt="logo-operation">
                        <span class="operation-text">انبارگردانی</span>
                    </section>
        
                </div>
        
            </main>

        </div>

        <!-- footer-container -->
        <div class="footer-container">

            <map-footer></map-footer>

        </div>

    </div>

</ng-container>

<map-overlay-preloader></map-overlay-preloader>