$white: white;
$white001: #eef1f6;
$white002: #d7d4d4;
$white003: #e4ece9;
$white004: #ffffff;
$white005: #f6f6f6;
$white006: #ededed;
$white007: rgba(255, 255, 255, 1);
$white008: rgba(243, 243, 243, 1);
$white009: rgba(237, 237, 237, 1);
$white010: #e1e1e1;
$gray001: #8992a4;
$gary002: #ced3de;
$gray003: #4f5562;
$gray004: #323741;
$gray005: #4f5562;
$gary006: #727781;
$gary007: rgb(79 85 98 / 8%);
$gray008: #c7cad2;
$gray009: #e8e5e5;
$gray010: #9e9e9e;
$gray011: #d3d3d32e;
$blue001: #f6f6f7;
$blue002: #719ece;
$blue003: #1489fe;
$blue004: #369acf;
$blue005: #f5f5f6;
$blue006: #03a9f4;
$blue007: #f3f4f5;
$blue008: #3f51b5;
$black000: black;
$black001: rgba(79, 85, 98, 0.08);
$black002: #1b1b1c;
$black003: rgba(0, 0, 0, 0.87);
$black004: rgba(0, 0, 0, 0.15);
$black005: rgba(0, 0, 0, 0.16);
$black006: rgb(0 0 0 / 42%);
$black007: rgba(79, 85, 98, 0.16);
$black008: rgba(0, 0, 0, 0.5);
$black009: #9e9e9e14;
$orange001: rgba(234, 85, 7, 1);
$orange002: #ff7300;
$green001: #30d134;
$green002: linear-gradient(to bottom, #38c56d, #1a933b);
$green003: #1b943c;
$green004: #1c963e;
$green005: #4caf50;
$red001: #d13030;
$red002: #d62839;
$red003: #d31e1e;
$red004: #f05858;
$red005: #e43434;
$red006: #800000;
$red007: maroon;
$yellow001: #ffc000;
$yellow002: #ffc107;
