<section class="bottom-sheet-back-btn-container">

    <h4 class="description">
        لطفا مشخص نمایید
    </h4>

    <section class="opertaion-btns" (click)="btnOperationHandler($event)">

        <button mat-button style="background-color: orange;color: whitesmoke;">حذف</button>

        <button mat-button style="background-color: green;color: whitesmoke;">اضافه</button>

        <button mat-button style="background-color: orangered;color: whitesmoke;">رد</button>

    </section>

</section>
