<div class="main-container" [dir]=" pageInfo.Direction ">

    <header>
        <map-header></map-header>
    </header>

    <main>
        <map-document-info-viewer (formOutputHandler)="documentInfoViewerFormHandler($event)"></map-document-info-viewer>

        <!-- <button matRipple class="submit-details" (click)="submitDetailsHandler($event)">{{ submitDetailsInfo.buttonText }}</button>

        <button matRipple class="show-details" (click)="showDetailsHandler($event)">نمایش جزئیات</button> -->
        
    </main>

    <footer>
        <button class="submit-changes" matRipple (click)="operationsHandler($event)">عملیات</button>
    </footer>

</div>