@import "../../scss/main";

.main-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px calc(100vh - 100px) 50px;

    main {
        padding: 10px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    footer {
        button {
            width: 100%;
            height: 100%;
            color: $white001;
            background-color: $blue008;
            font-size: 1rem;
            outline: none;
            border: none;
            font-weight: bold;
        }
    }
}
