@import "./app/scss/main";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  font-family: $customFontFamily;
}
