<section class="document-info-viewer">

    <section class="document-number">
        <span>{{ documentTitleInfo.number }}</span>
        <span>0000000000000</span>
    </section>

    <section class="document-date">
        <span>{{ documentTitleInfo.date }}</span>
        <span>1401-01-31</span>
    </section>

    <form [formGroup]="documentForm" class="document-description">

        <mat-form-field [appearance]=" formAppearance ">
            <mat-label>{{ documentTitleInfo.fieldLabel }}</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

    </form>

</section>
